<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Shoe Player{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Final project for PCC - CS003A">
    <meta name="keywords" content="Pasadena City College, Python, Flask">
    <meta name="author" content="Aaron Artea">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/radio.ico') }}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Shoe Player<br/><small>Music Simplified</small></a>
        <div class="nav-collapse">
          {% block navbar_right %}
          <ul class="nav navbar-nav pull-right">
            {% if not session.logged_in %}
              <li><a href="#">Log in &nbsp;</a></li>
            {% else %}
              <!-- <li><a href="#">Sign up</a></li> -->
              <li><a href="#">Log out</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}
    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; aartea.co</p>

        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
